@model IEnumerable<aa.Models.Equipe>

@{
    ViewBag.Title = "Lista de Equipes";
    aa.Models.Usuario usuario = null;
    if (Session["Usuario"] != null)
    {
        usuario = (aa.Models.Usuario)Session["Usuario"];
    }
}

<h2>Lista de Equipes</h2>

<p>
    @Html.ActionLink("Criar equipe", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="equipe_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                @if (usuario != null && usuario.Cargo == aa.Models.Usuario.Tipo.Lider)
                {
                    <a href="javascript:ExcluirEquipe(@item.Id)"> | Deletar</a>
                }

            </td>
        </tr>
    }

</table>
