@model IEnumerable<aa.Models.Equipe>

@{
    ViewBag.Title = "Index";
    aa.Models.Usuario usuario = null;
    if (Session["Usuario"] != null)
    {
        usuario = (aa.Models.Usuario)Session["Usuario"];
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="equipe_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @if (usuario != null && usuario.Cargo == aa.Models.Usuario.Tipo.Lider)
                {
                    <span> |</span>
                    <a href="javascript:ExcluirEquipe(@item.Id)">Deletar</a>
                }

            </td>
        </tr>
    }

</table>



<div id="alertasucesso" style="display:none">
    <div class="alert alert-success" role="alert">
        Equipe excluida com sucesso!
    </div>
</div>

<div id="alertaerro" style="display:none">
    <div class="alert alert-danger" role="alert">
        Erro ao excluir equipe!
    </div>
</div>



<script>
    function ExcluirEquipe(EquipeId) {
        var r = confirm("Deseja realmente excluir essa equipe?");
        if (r == true) {
            $.ajax({
                url: "/Equipe/DeleteConfirmed/" + EquipeId,
                method: "POST",
                success: function () {
                    $("#equipe_" + EquipeId).remove();
                    $('#alertasucesso').show();
                    setTimeout(function () { $('#alertasucesso').hide(); }, 2500);
                },
                error: function () {
                    $('#alertaerro').show();
                    setTimeout(function () { $('#alertaerro').hide(); }, 2500);
                }
            });

        }
    }
</script>