@model aa.Models.Usuario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelId)
        </dt>

        <dd>
            @if (ViewBag.Responsavel != null)
            {
                @ViewBag.Responsavel
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarefas)
        </dt>


        @foreach (var tar in Model.Tarefas)
        {
            <dd>
                @Html.ActionLink(tar.Titulo, "Details", "Tarefa", new { id = tar.Id }, null)
            </dd>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
