@model IEnumerable<aa.Models.Usuario>

@{
    ViewBag.Title = "Index";
    aa.Models.Usuario usuario = null;
    if (Session["Usuario"] != null)
    {
        usuario = (aa.Models.Usuario)Session["Usuario"];
    }
}




<h2>Index</h2>

@if (usuario != null && usuario.Cargo == aa.Models.Usuario.Tipo.Lider)
{
    <p>
        @Html.ActionLink("Criar Usuário", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="usuario_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })

                @if (usuario != null && usuario.Cargo == aa.Models.Usuario.Tipo.Lider)
                {

                    <span> |</span>
                    <a href="javascript:ExcluirUsuario(@item.Id)">Deletar</a>
                }

            </td>
        </tr>
    }

</table>


<div id="alertasucesso" style="display:none">
    <div class="alert alert-success" role="alert">
        Usuário excluido com sucesso!
    </div>
</div>

<div id="alertaerro" style="display:none">
    <div class="alert alert-danger" role="alert">
        Erro ao excluir usuário!
    </div>
</div>



<script>
    function ExcluirUsuario(UsuarioId) {
        var r = confirm("Deseja realmente excluir esse usuário?");
        if (r == true) {
            $.ajax({
                url: "/Usuario/DeleteConfirmed/" + UsuarioId,
                method: "POST",
                success: function () {
                    $("#usuario_" + UsuarioId).remove();
                    $('#alertasucesso').show();
                    setTimeout(function () { $('#alertasucesso').hide(); }, 2500);
                },
                error: function () {
                    $('#alertaerro').show();
                    setTimeout(function () { $('#alertaerro').hide(); }, 2500);
                }
            });

        }
    }
</script>