@model aa.Models.Tarefa
@using aa.Classes;
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        @{
            string data = Model.DataCriacao.ToShortDateString();
        }
        <dd>
            @Html.DisplayFor(model => data)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        @{
            data = Model.DataEntrega.ToShortDateString();
        }
        <dd>
            @Html.DisplayFor(model => data)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Model.Status.GetDisplayName()
        </dd>


    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>

