@model IEnumerable<aa.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        @{
            string data = item.DataCriacao.ToShortDateString();
        }
        <td>
            @Html.DisplayFor(modelItem => data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            <a href="javascript:ExcluirTarefa(@item.Id)">Delete</a>
        </td>
    </tr>
}

</table>

<script>
    function ExcluirTarefa(TarefaId) {
        var r = confirm("Deseja realmente excluir essa tarefa?");
        if (r == true) {
            $.ajax({
                url: "/Tarefa/DeleteConfirmed/" + TarefaId,
                method: "POST",
                success: function () {
                    window.location.reload();
                }
            });

        }
    }
</script>