@model IEnumerable<aa.Models.Tarefa>
@using aa.Classes;
@{
    ViewBag.Title = "Lista de Tarefas";
}

<h2>Lista de Tarefas</h2>

<p>
    @Html.ActionLink("Criar tarefa", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="tarefa_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @item.DataEntrega.ToShortDateString()
            </td>
            <td>
                @{
                    if (!(item.Usuario == null))
                    {
                        @item.Usuario.Nome;
                    }
                }
            </td>
            <td>
                @item.Status.GetDisplayName()
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                <a href="javascript:ExcluirTarefa(@item.Id)">Deletar</a> |
                <a href="javascript:modalHistoricoTarefa(@item.Id)">Histórico</a>
            </td>
        </tr>
    }

</table>


<div class="modal fade bd-example-modal-xl" id="ModalHistorico" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historico da Tarefa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="infoTarefa">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<script>
    function ExcluirTarefa(TarefaId) {
        var r = confirm("Deseja realmente excluir essa tarefa?");
        if (r == true) {
            $.ajax({
                url: "/Tarefa/DeleteConfirmed/" + TarefaId,
                method: "POST",
                success: function () {
                    $("#tarefa_" + TarefaId).remove();
                    toastr.success('Tarefa excluida com sucesso!');
                    setTimeout(function () { $('#alertasucesso').hide(); }, 2500);
                },
                error: function () {
                    toastr.error('Erro ao excluir tarefa!');
                    setTimeout(function () { $('#alertaerro').hide(); }, 2500);
                }


            });

        }
    }
</script>
