@model IEnumerable<aa.Models.Projeto>

@{
    ViewBag.Title = "Lista de projetos";
    aa.Models.Usuario usuario = null;
    if (Session["Usuario"] != null)
    {
        usuario = (aa.Models.Usuario)Session["Usuario"];
    }
}

<h2>Lista de projetos</h2>

<p>
    @Html.ActionLink("Criar projeto", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="projeto_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) 
                @if (usuario != null && usuario.Cargo == aa.Models.Usuario.Tipo.Lider)
                {
                    <a href="javascript:ExcluirProjeto(@item.Id)"> | Deletar</a>
                }
            </td>
        </tr>
    }

</table>
